[submodule "submodules/borealis"]
	path = submodules/borealis
	url = https://github.com/xfangfang/borealis.git
[submodule "submodules/cpp-generic-toolbox"]
	path = submodules/cpp-generic-toolbox
	url = https://github.com/gtiersma/cpp-generic-toolbox.git